{
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "semi": [2, "always"],
    "quotes": [2, "single"],
    "strict": [2, "global"],
    "no-underscore-dangle": 0
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  }
}
